@using Microsoft.Owin.Security
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Personal birthday analysis</title>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KHNBSHN');</script>
    <!-- End Google Tag Manager -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/SignUpForm.css" rel="stylesheet" />
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KHNBSHN"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav class="navbar navbar-expand-md navbar-dark sticky-top" style="background-color: #fed6e3 !important;">
        <div class="container">
            <a class="navbar-brand text-dark navbar-text" href="/">
                Match⭕Up
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("My people list", "AddPerson", "Person", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Celebrities", "Stars", "Star", null, new { @class = "nav-link" })
                        </li>
                        <li>
                            @Html.ActionLink("Search", "Search", "Home", null, new { @class = "nav-link", id = "registerLink" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Sign out", "LogOff", "Account", null, new { @class = "nav-link" })
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Sign in", "Login", "Account", null, new { @class = "nav-link", id = "registerLink" })
                        </li>
                        <li>
                            @Html.ActionLink("Sign up", "Register", "Account", null, new { @class = "nav-link", id = "registerLink" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="mt-3">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
    <script src="~/Scripts/Site/Site.js"></script>
    <script src="~/Scripts/Site/SignUpForm.js"></script>
</body>
</html>
