@using Microsoft.Owin.Security
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="robots" content="all,follow">
    <title>@ViewBag.Title - Personal birthday analysis</title>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KHNBSHN');</script>
    <!-- End Google Tag Manager -->

    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/Site.css">

    @*<link rel="stylesheet" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">*@
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/Content/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="~/Content/css/landy-iconfont.css">
    <!-- Google fonts - Open Sans-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800">
    <!-- owl carousel-->
    <link rel="stylesheet" href="~/Content/vendor/owl.carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/vendor/owl.carousel/assets/owl.theme.default.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/Content/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/Content/css/custom.css">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KHNBSHN"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- FB comment manager-->
    <div id="fb-root"></div>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=200830110837342&autoLogAppEvents=1"></script>
    <!-- End FB comment manager-->
    <!-- navbar-->
    <header class="header">
        <nav class="navbar navbar-expand-lg fixed-top">
            @*<a href="/" class="navbar-brand">Match⭕Up</a>*@
            <div class="navbar-brand col">
                <a href="/">
                    <img class="d-inline-block img-35" src="~/Content/img/MatchUpLogoMin.png" />
                </a>
            </div>

            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><span></span><span></span><span></span></button>
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto align-items-start align-items-lg-center">
                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a href="/" class="nav-link">My Psychomatrix</a>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("My people list", "AddPerson", "Person", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Celebrities", "Stars", "Star", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Sign out", "LogOff", "Account", null, new { @class = "nav-link" })
                        </li>
                    }
                    @*else
                {
                    <li class="nav-item">
                        <!-- Button trigger modal-->
                        <a href="#" data-toggle="modal" data-target="#signinModal" class="btn btn-primary navbar-btn btn-shadow btn-gradient m-1">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <!-- Button trigger modal-->
                        <a href="#" data-toggle="modal" data-target="#signupModal" class="btn btn-primary navbar-btn btn-shadow btn-gradient m-1">Sign up</a>
                    </li>
                }*@
                </ul>
            </div>
        </nav>
    </header>
    @RenderBody()
    <div class="container border-top pt-2 mt-4">
        <div class="row">
            <div class="col">
                <h5>Add comment if you like your Psychomatrix</h5>

            </div>
        </div>
        <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5" data-width="100%"></div>
    </div>
    <div id="scrollTop">
        <div class="d-flex align-items-center justify-content-end"><i class="fa fa-long-arrow-up"></i>To Top</div>
    </div>
    <footer class="main-footer bg-gray mt-2">
        <div class="container">
            <div class="row">
                @*<div class="col-lg-3 col-md-6">
                        <a href="/" class="brand text-primary">MatchUp</a>
                        <ul class="contact-info list-unstyled">
                            <li><a href="mailto:matchup.webapp@gmail.com" class="text-primary">matchup.webapp@gmail.com</a></li>
                        </ul>
                    </div>*@
                <div class="col-lg-3 col-md-6">
                    <a href="/Person/AddPerson">
                        <h5 class="text-primary">My people list</h5>
                    </a>
                    <p>Add new people to see their Psychomatrix (family, friends, colleagues)</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="/Star/Stars">
                        <h5 class="text-primary">Similar celebrities</h5>
                    </a>
                    <p>Search among 100,000 celebrities by name and compare yourself with them</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="#">
                        <h5 class="text-primary">About</h5>
                    </a>
                    <p>Find out more about Psychomatrix and leave your feedback</p>
                </div>
            </div>
        </div>
        <div class="copyrights">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <p>&copy; 2019 Match-up.me</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
    <script src="~/Scripts/Site/Site.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"> </script>*@
    <script src="~/Content/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/Content/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Scripts/Site/front.js"></script>
    <script>
        $('#confirm-delete').on('show.bs.modal',
            function (e) {
                $(this).find('.btn-danger').attr('href', $(e.relatedTarget).data('href'));
            });
    </script>
</body>
</html>
