@using Microsoft.Owin.Security
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Personal birthday analysis</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                Match⭕Up
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("My Psychomatrix", "Index", "Home", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("My peoples", "AddPerson", "Person", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Celebrities", "Stars", "Star", null, new { @class = "nav-link" })
                        </li>
                        <li>
                            @Html.ActionLink("Search", "Search", "Home", null, new { @class = "nav-link", id = "registerLink" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Log out", "LogOff", "Account", null, new { @class = "nav-link" })
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Log in", "Login", "Account", null, new { @class = "nav-link", id = "registerLink" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="mt-3">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
</html>
