@using System.Globalization
@using MatchUp.Models
@using MatchUp.Services
@using Microsoft.AspNet.Identity
@using Constants = MatchUp.Shared.Constants
@model UserViewModel
@{
    ViewBag.Title = "User";
    Layout = "../Shared/_Layout.cshtml";
}

@Html.Partial("MoreCelebritiesModal")
@Html.Partial("ReadMoreModal")
<div class="container">
    <div class="row sticky-card pt-2 pb-1 shadow bg-white rounded">
        <div class="col-4 col-md-2 text-center">
            <img src="@Model.PhotoUrl" class="round">
        </div>
        <div class="col-8 col-md-2 text-center">
            <h6 class="lead">@Model.Name</h6>
            <h6 class="font-weight-light">@Model.Birthday.ToString("MMMM d, yyyy", CultureInfo.GetCultureInfoByIetfLanguageTag("en-US"))</h6>
            @if (Request.QueryString["isFamouse"] == "true")
            {
                <h6 class="font-weight-light">@Model.Details</h6>
                <a href="@CommonService.CreateGoogleUrl(Model.Name)">More info</a>
            }
        </div>
    </div>

    <div class="mt-2 pt-2 mb-2">
        <h2 class="text-center">PSYCHOMATRIX</h2>
        <table class="table table-bordered text-center shadow bg-white rounded m-auto col-md-8">
            <tr>
                <td>
                    character,
                    will
                    <br />
                    @Model.PythagorianMatrix.CharacterWill
                </td>
                <td>
                    health,
                    beauty
                    <br />
                    @Model.PythagorianMatrix.HealthBeauty
                </td>
                <td>
                    luck
                    <br />
                    @Model.PythagorianMatrix.Luck
                </td>
            </tr>
            <tr>
                <td>
                    vital
                    energy
                    <br />
                    @Model.PythagorianMatrix.VitalEnergy
                </td>
                <td>
                    logic,
                    intuition
                    <br />
                    @Model.PythagorianMatrix.LogicIntuition
                </td>
                <td>
                    duty
                    <br />
                    @Model.PythagorianMatrix.Duty
                </td>
            </tr>
            <tr>
                <td>
                    cognitive,
                    creative
                    <br />
                    @Model.PythagorianMatrix.CognitiveCreative
                </td>
                <td>
                    labor,
                    skill
                    <br />
                    @Model.PythagorianMatrix.LaborSkill
                </td>
                <td>
                    intellect,
                    memory
                    <br />
                    @Model.PythagorianMatrix.IntellectMemory
                </td>
            </tr>
        </table>
    </div>

    @if (Model.Id != User.Identity.GetUserId())
    {
        <div class="row mb-4 mt-3">
            <div class="col-6 pr-1">
                @if (Request.QueryString["isFamouse"] != null)
                {
                    @Html.ActionLink("Compatibility ❤️", "CompatibilityInPerson", "Home", new { id = Model.Id, isFamouse = true }, new { @class = "btn btn-primary btn-shadow btn-gradient col" })
                }
                else
                {
                    @Html.ActionLink("Compatibility ❤️", "CompatibilityInPerson", "Home", new { id = Model.Id }, new { @class = "btn btn-primary btn-shadow btn-gradient col" })
                }
            </div>
            <div class="col-6 pl-0">
                @if (Request.QueryString["isFamouse"] != null)
                {
                    @Html.ActionLink("Compare ⚖️", "Comapare", "Home", new { id = Model.Id, isFamouse = true }, new { @class = "btn btn-primary btn-shadow btn-gradient col" })
                }
                else
                {
                    @Html.ActionLink("Compare ⚖️", "Comapare", "Home", new { id = Model.Id }, new { @class = "btn btn-primary btn-shadow btn-gradient col" })
                }
            </div>
        </div>

    }

    @*@if (Request.QueryString["isFamouse"] != "true" || Model.SameStars[0] != null)*@
    @if (Request.QueryString["isFamouse"] != "true")
    {
        <h2>Similar people</h2>
        <div class="border-bottom mt-2 mb-3"></div>
        <div class="row text-center align-content-center mb-3">
            @foreach (UserViewModel famouse in Model.SameStars[0])
            {
                <div class="col">
                    <a href="~/home/userpage/@famouse.Id?isFamouse=true">
                        <img src="@famouse.PhotoUrl" class="round">
                        <h6 class="mt-1 text-primary">@famouse.Name</h6>
                        <p class="text-black-50">@famouse.Details</p>
                    </a>
                </div>
            }
        </div>
        <div class="row">
            <div class="col text-right">
                <a class="" href="#moreCelebritiesModal" data-toggle="modal" data target="#moreCelebritiesModal">More celebties...</a>
            </div>
        </div>
    }

    <h2>Strengths</h2>
    @foreach (KeyValuePair<int, int> pair in Model.SquarePersent)
    {
        if (pair.Value >= 50)
        {
            <div class="card border-light mt-2 shadow bg-white rounded">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            @Constants.NamesEn[pair.Key]
                        </div>
                        <div class="col">
                            <div class="star-ratings-sprite mt-1"><span style="width: @pair.Value%" class="star-ratings-sprite-rating"></span></div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        @Model.Descriptions[pair.Key].Details
                        <br />
                        <a href="#readMoreModal" data-toggle="modal" data target="#readMoreModal">Read more...</a>
                    </div>
                </div>
            </div>

            if (Model.SameStars != null)
            {
                <div class="mb-4">
                    <h6 class="mt-2">People with the same type:</h6>
                    <div class="row text-center align-content-center">

                        @foreach (UserViewModel famouse in Model.SameStars[pair.Key])
                        {
                            <div class="col">
                                <a href="~/home/userpage/@famouse.Id?isFamouse=true">
                                    <img src="@famouse.PhotoUrl" class="round">
                                    <h6 class="mt-1 text-primary">@famouse.Name</h6>
                                    <p class="text-black-50">@famouse.Details</p>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            <a href="#moreCelebritiesModal" data-toggle="modal" data target="#moreCelebritiesModal">More celebties...</a>
                        </div>
                    </div>
                </div>
            }
        }
    }


    <h2>Weaknesses</h2>
    @foreach (KeyValuePair<int, int> pair in Model.SquarePersent)
    {
        if (pair.Value < 50)
        {
            <div class="card border-light mt-2 shadow bg-white rounded">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            @Constants.NamesEn[pair.Key]
                        </div>
                        <div class="col">
                            <div class="star-ratings-sprite mt-1"><span style="width: @pair.Value%" class="star-ratings-sprite-rating"></span></div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        @Model.Descriptions[pair.Key].Details
                        <br />
                        <a href="#readMoreModal" data-toggle="modal" data target="#readMoreModal">Read more...</a>
                    </div>
                </div>
            </div>

            if (Model.SameStars != null)
            {
                <div class="mb-4">
                    <h6 class="mt-2">People with the same type:</h6>
                    <div class="row text-center align-content-center">

                        @foreach (UserViewModel famouse in Model.SameStars[pair.Key])
                        {
                            <div class="col">
                                <a href="~/home/userpage/@famouse.Id?isFamouse=true">
                                    <img src="@famouse.PhotoUrl" class="round">
                                    <h6 class="mt-1 text-primary">@famouse.Name</h6>
                                    <p class="text-black-50">@famouse.Details</p>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            <a class="" href="#moreCelebritiesModal" data-toggle="modal" data target="#moreCelebritiesModal">More celebties...</a>
                        </div>
                    </div>
                </div>
            }
        }
    }

   

    @*<div class="mt-5 pt-2">
            <h2>Дополнительная информация</h2>
            <h4>Самооценка @Model.MoreInfoPersent["Самооценка"]%</h4>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: @Model.MoreInfoPersent["Самооценка"]%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h4>Работоспособность @Model.MoreInfoPersent["Работоспособность"]%</h4>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: @Model.MoreInfoPersent["Работоспособность"]%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h4>Талант @Model.MoreInfoPersent["Талант"]%</h4>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: @Model.MoreInfoPersent["Талант"]%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h4>Целеустремленность @Model.MoreInfoPersent["Целеустремленность"]%</h4>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: @Model.MoreInfoPersent["Целеустремленность"]%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h4>Семейность @Model.MoreInfoPersent["Семейность"]%</h4>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: @Model.MoreInfoPersent["Семейность"]%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h4>Привычки @Model.MoreInfoPersent["Привычки"]%</h4>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: @Model.MoreInfoPersent["Привычки"]%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h4>Темперамент @Model.MoreInfoPersent["Темперамент"]%</h4>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: @Model.MoreInfoPersent["Темперамент"]%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h4>Духовность @Model.MoreInfoPersent["Духовность"]%</h4>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: @Model.MoreInfoPersent["Духовность"]%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>*@
</div>