@using MatchUp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Sign in now";
    Layout = null;
}

<div id="signindialog" class="dialog">
    <div class="dialog__overlay"></div>
    <div class="dialog__content">
        <div class="dialog-inner">
            <h4>Sign in</h4>

            <div id="subscribe">
                @*@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "form", id = "notifyMe" }))*@
                @using (Ajax.BeginForm("Login", "Account", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { role = "form", id = "notifyMe" }))

                {
                    @Html.AntiForgeryToken()
                    <div class="p-2">
                        @Html.ValidationSummary("", new { @class = "text-danger", id = "validate-message" })
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", id = "EmailLogin", required = "true", @class = "form-control srequiredField" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            @Html.PasswordFor(m => m.Password, new { placeholder = "Password", id = "PasswordLogin", required = "true", @class = "form-control srequiredField" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            <button type="submit" name="submit" class="btn btn-lg submit">Sign in</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <button class="close-newsletter" data-dialog-close onclick="document.getElementById('signindialog').classList.remove('dialog--open');"><i class="far fa-times-circle"></i></button>
    </div>
</div>


@*<div id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true" class="modal fade">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="signinModalLabel" class="modal-title">Sign in</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "form", id = "signupform" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", id = "EmailLogin", required = "true" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { placeholder = "Password", id = "PasswordLogin", required = "true" })
                        </div>
                        <div class="form-group">
                            <button type="submit" class="submit btn btn-primary btn-shadow btn-gradient">Signup</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>*@



@*<section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>*@
