@using MatchUp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Sign in now";
    Layout = "../Shared/_AccountLayout.cshtml";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "form", id = "main-form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-md-4" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control col-md-4" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" class="btn btn-primary col-md-2 col-5" value="Sign in" />
            </div>
        </div>
    }

    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}