@model MatchUp.Models.RegisterViewModel
@{
    ViewBag.Title = "Sign up";
    Layout = "../Shared/_AccountLayout.cshtml";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2" })
            <div class="col-md-10 col">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control col-md-4" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2" })
            <div class="col-md-10 col">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-md-4" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2" })
            <div class="col-md-10 col">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control col-md-4" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2" })
            <div class="col-md-10 col">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control col-md-4" })
            </div>
        </div>
        @*<div class="form-group">
                @Html.LabelFor(m => m.Birthday, new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control col-md-4", placeholder = "01.01.1900" })
                </div>
            </div>*@
        <div class="form-group">
            @Html.LabelFor(m => m.Birthday, new { @class = "col-md-2" })
            <div class="col-md-10 col">
                <input class="form-control col-md-4" type="date" name="Birthday" id="Birthday"/>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col">
                <input type="submit" class="btn btn-primary col-md-2 col-5" value="Register" />
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
