@using System.Globalization
@using MatchUp.Models
@model MatchUp.Models.DBModels.Person

@{
    ViewBag.Title = "AddPerson";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mb-2">
        <div class="col-9">
            <h4>Your people list</h4>
        </div>
        <div class="col-3 text-center">
            <a class="btn btn-primary" href="#phone_form" data-toggle="modal" data target="#phone_form">+</a>
        </div>
    </div>

    <div class="form-group">
        <div id="phone_form" class="modal fade in" style="padding-top: 30%">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Add person</h3>
                        <button class="close" type="button" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("AddPerson", "Person", FormMethod.Post, new { @class = "", id = "personAddForm" }))
                        {
                            <div class="form-group">
                                <label for="Name">Enter name</label>
                                <input type="text" required name="Name" id="Name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="Name">Enter date of birth:</label>
                                <input class="form-control" type="date" name="Birthday" id="Birthday" />
                            </div>
                            <button type="submit" class="btn btn-primary col">Add</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-2 pt-2 border-top">
        <div class="row">
            @foreach (UserViewModel person in ViewBag.Persons)
            {
                <div class="col-sm-4">
                    <div class="card text-center mt-2">
                        <div class="card-body">
                            <a href="/home/userpage/@person.Id">
                                <div class="row mb-3">
                                    <div class="col-4">
                                        <img src="@person.PhotoUrl" class="round">
                                    </div>
                                    <div class="col-8 text-center pt-2">
                                        <div class="card-title">
                                            <h5>@person.Name</h5>
                                        </div>
                                        <p>@person.Birthday.ToString("MMMM d, yyyy", CultureInfo.GetCultureInfoByIetfLanguageTag("en-US"))</p>
                                    </div>
                                </div>
                            </a>
                            @Html.ActionLink("Compatibility ❤️", "Comtibility", "Home", new { id = person.Id }, new { id = person.Id, @class = "btn btn-primary col-6" })
                            @Html.ActionLink("Compare ⚖️", "Comapare", "Home", new { id = person.Id }, new { id = person.Id, @class = "btn btn-primary col-5" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>