@using System.Globalization
@using MatchUp.Models
@model MatchUp.Models.DBModels.Person

@{
    ViewBag.Title = "AddPerson";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mb-2">
        <div class="col-9">
            <h4>Your people list</h4>
        </div>
        <div class="col-3 text-center">
            <a class="btn btn-primary" href="#phone_form" data-toggle="modal" data target="#phone_form">+</a>
        </div>
    </div>

    <div class="form-group">
        <div id="phone_form" class="modal fade in" style="padding-top: 30%">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Add person</h3>
                        <button class="close" type="button" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("AddPerson", "Person", FormMethod.Post, new { @class = "", id = "personAddForm" }))
                        {
                            <div class="form-group">
                                <label for="Name">Enter name</label>
                                <input type="text" required name="Name" id="Name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="Name">Enter date of birth:</label>
                                <input class="form-control" type="date" name="Birthday" id="Birthday" />
                            </div>
                            <button type="submit" class="btn btn-primary col">Add</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-2 pt-2 border-top">
        <div class="row">
            @foreach (UserViewModel person in ViewBag.Persons)
            {
                <div class="col col-md-4">
                    <div class="card border-light shadow bg-white text-center mt-2">
                        <div class="card-header-pills mx-2 mt-1">
                            <div class="row text-right">
                                <div class="col-9"></div>
                                <div class="col-1">
                                    <a href="/Person/Edit/?id=@person.Id">
                                        <img src="https://img.icons8.com/ios/20/000000/edit.png">
                                    </a>
                                </div>
                                <div class="col-1">
                                    <a href="#" data-href="/Person/Delete/?id=@person.Id" data-toggle="modal" data-target="#confirm-delete">
                                        <img src="https://img.icons8.com/ios/20/000000/delete-sign.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="/home/userpage/@person.Id">
                                <div class="row mb-3">
                                    <div class="col-4">
                                        <img src="@person.PhotoUrl" class="round">
                                    </div>
                                    <div class="col-8 text-center pt-2">
                                        <div class="card-title">
                                            <h5>@person.Name</h5>
                                        </div>
                                        <p>@person.Birthday.ToString("MMMM d, yyyy", CultureInfo.GetCultureInfoByIetfLanguageTag("en-US"))</p>
                                    </div>
                                </div>
                            </a>
                            @Html.ActionLink("Compatibility ❤️", "CompatibilityInPerson", "Home", new { id = person.Id }, new { id = person.Id, @class = "btn btn-primary col-6" })
                            @Html.ActionLink("Compare ⚖️", "Comapare", "Home", new { id = person.Id }, new { id = person.Id, @class = "btn btn-primary col-5" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-light text-center" id="exampleModalLabel">Are you sure you want to delete it?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger">Delete</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

   
</div>