@using MatchUp.Models
@using MatchUp.Models.DBModels
@model MatchUp.Models.DBModels.Person

@{
    ViewBag.Title = "AddPerson";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Your persons list</h2>
    <div class="form-group border-top pt-2">
        @using (Html.BeginForm("AddPerson", "Person", FormMethod.Post))
        {
            <div class="form-group mt-2">
                <input type="text" required name="Name" id="Name" placeholder="Enter name" class="form-control" />
            </div>
            <div class="form-group">
                <div class="row">
                    <h5 class="col-4 m-2 align-middle">Enter date of birth:</h5>

                    <select class="form-control m-2 col-2" name="day">
                        @for (int i = 1; i <= 31; i++)
                        {
                            <option>@i</option>
                        }
                    </select>
                    <select class="form-control m-2 col-2" name="month">
                        @for (int i = 1; i <= 12; i++)
                        {
                            <option>@i</option>
                        }
                    </select>
                    <select class="form-control m-2 col-2" name="year">
                        @for (int i = 1900; i <= 2018; i++)
                        {
                            if (i == 1995)
                            {
                                <option selected="selected">@i</option>
                                continue;
                            }

                            <option>@i</option>
                        }
                    </select>
                    <button type="submit" class="btn btn-primary m-2 col">Add</button>
                </div>
            </div>
        }
    </div>


    <div class="mt-2 pt-2">
        <div class="row">
            @foreach (UserViewModel person in ViewBag.Persons)
            {
                <div class="col-sm-4">
                    <div class="card text-center mt-2">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <img src="@person.PhotoUrl" class="round">
                                </div>
                                <div class="col">
                                    <div class="card-title">
                                        <h5>@person.Name</h5>
                                    </div>
                                    <p>@person.Birthday.ToString("D")</p>
                                </div>
                            </div>
                            @Html.ActionLink("Analisis", "UserPage", "Home", new { id = person.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Compatibility", "Comtibility", "Home", new { id = person.Id }, new { id = person.Id, @class = "btn btn-primary" })
                            @Html.ActionLink("Compare", "Comapare", "Home", new { id = person.Id }, new { id = person.Id, @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>