@model MatchUp.Models.PersonEditViewModel

@{
    ViewBag.Title = "Edit person";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Edit", "Person", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Name" id="Name" value="@Model.Name" class="form-control col-md-4" required/>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Birthday, new { @class = "col-md-2" })
            <div class="col-md-10">
                <input type="date" name="Birthday" id="Birthday" value="@Model.Birthday.ToString("yyyy-MM-dd")" class="form-control col-md-4" required/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="hidden" name="Id" value="@Model.Id"/>
                <input type="hidden" name="IdUser" value="@Model.IdUser"/>
                <input type="submit" class="btn btn-primary btn-gradient col-md-2 col-5" value="Save"/>
                <a href="@Url.Action("AddPerson")" class="btn btn-danger col-md-2 col-5">Cancel</a>
            </div>
        </div>
    }
</div>